doctype html
html(lang="en")
  head
    link(rel="stylesheet" href='style.css')
  body
    main.report
      section.overview
        h3 Итоги
        table.overview-table
          td.overview__cell Всего новых: #{totalNew}
          td.overview__cell Всего закрытых: #{totalClosed}
          td.overview__cell Всего касса: #{totalCash}
          td.overview__cell Всего работы: #{totalWorks}
      section.new-orders
        h3 Сегодня
        each report, index in newOrders
          table.office-toolbar
            td
              .office-title= report.office
            td
              .office-count= report.ordersTotal
          .collapsible-content
            .collapsible-content__inner
              table.table
                thead.table-head
                  th.table-head__cell №
                  th.table-head__cell Кто принес
                  th.table-head__cell Модель
                  th.table-head__cell Поломка
                tbody.table-body
                  each order in report.orders
                    tr.table-body__row
                      td.table-body__cell=order.id
                      td.table-body__cell=order.client
                      td.table-body__cell=order.phone
                      td.table-body__cell=order.defect
      section.closed-orders
        h3 Закрытые
        each report in closedOrders
          table.office-toolbar
            td
              .office-title= report.office
            td
              .office-additionals(title="Касса")= report.cashSum
            td
              .office-additionals(title="Работы")= report.worksSum
            td
              .office-count= report.ordersTotal
          .collapsible-content
            .collapsible-content__inner
              table.table
                thead.table-head
                  th.table-head__cell №
                  th.table-head__cell Кто принес
                  th.table-head__cell Модель
                  th.table-head__cell Поломка
                  th.table-head__cell Работы (руб.)
                  th.table-head__cell Касса (руб.)
                tbody.table-body
                  each order in report.orders
                    tr.table-body__row
                      td.table-body__cell=order.id
                      td.table-body__cell=order.client
                      td.table-body__cell=order.phone
                      td.table-body__cell=order.defect
                      td.table-body__cell=order.worksPrice
                      td.table-body__cell=order.cashPrice
